body {
    background:rgba(39, 16, 16, 0.151);
        }
[href="https://m.vk.com/id395386018?act=fans"] {
            color: red;
        }
[href="#mmetrixx"] {
    color: firebrick;
        }     
[href="https://web.telegram.org/k/"]{
    color: rgb(208, 127, 255);
        }
#mmetrixx {
   font-weight: bold; color: rgb(131, 126, 199);
}
table{
    border-radius: 5px;
    border: 2px solid rgba(162, 0, 255, 0.404)
}body {
  width: 10000;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: sans-serif;
}

p {
  line-height: 1.4;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.tipo:link {
  color: #b369ca;
}

.tipo:visited {
  color: #08305e;
}

.tipo:focus {
  border-bottom: 1px solid;
  background: #0a0c1a;
}

.tipo:hover {
  border-bottom: 1px solid;
  background: #3d630142;
}

    .tipo:active {
  background: #248eb8;
  color: #301605;
    }
    .hyli:link {
    color: #4b075f6c;
  }
  
  .hyli:visited {
    color: hsla(0, 100%, 49%, 0.692);
  }
  
  .hyli:focus {
    border-bottom: 1px solid;
    background: #db67eb0e;
  }
  
  .hyli:hover {
    border-bottom: 1px solid;
    background: #bb7e0d23;
  }
  
  .hyli:active {
    background: #248eb8;
    color: #c25812;
  }
  .your_mom {
     color: #f8036979;
     font-weight: bolder;
     text-align: left;
  }
  body {
    margin: 0;
    padding: 0;
    display:contents;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #333;
  }

  .button {
    position:relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    text-decoration: none;
    font-size :24px;
    letter-spacing: 4px;
    overflow:hidden;
    transition: 0.2s;
  }
  .button__line {
    position: absolute;
    display: block; 
  }
  .button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:  linear-gradient(90deg,transparent,#2196f3);
  }
  .button:hover .button__line--top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .button__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:  linear-gradient(270deg,transparent,#2196f3);
  }
  .button:hover .button__line--bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .button__line--left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:  linear-gradient(0deg,transparent,#2196f3);
  }
  .button:hover .button__line--left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .button__line--right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:  linear-gradient(180deg,transparent,#2196f3);
  }
  .button:hover .button__line--right {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .button:hover {
    box-shadow: 0 0 10px #2196f3 , 0 0 40px #2196f3 , 0 0 90px #2196f3;
    transition: 1s;
    transition-delay: 1s;
  }
